body {
	background-color: #fff;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.page-header {
	background-color: #fff;
}

.logo {
	color: #2196f3;
}
.color-black {
	color: #000;
}
.site-nav a:hover,
.auth-nav a:hover,
.site-nav a:focus,
.auth-nav a:focus {
	color: #2196f3;
}
.site-nav a {
	color: #212121;
}
.auth-nav a {
	color: #757575;
}
.banner {
	width: 1600px;
	height: 600px;
	color: #fff;
	background-color: #2f303a;
}
.main-button {
	width: 200px;
	height: 50px;
	color: #fff;
	background-color: #2196f3;
}
.hidden {
	opacity: 0;
}
.pec-list {
	background-color: #fff;
}
.pec-list-title {
	color: #212121;
}
.pec-list-text {
	color: #757575;
}
.tittle {
	color: #212121;
	background-color: #fff;
}
.team {
	background-color: #f5f4fa;
}
.team-title {
	color: #212121;
}
.team-card {
	background-color: #fff;
}
.card-title {
	color: #212121;
}
.card-text {
	color: #757575;
}
footer {
	background-color: #2f303a;
}
.color-white {
	color: #fff;
}
address {
	font-style: normal;
}
.adr {
	color: #fff;
}
.mail,
.tel {
	color: rgba(255, 255, 255, 0.6);
}
address a:hover,
address a:focus {
	color: #2196f3;
}
