body {
	background-color: #e5e5e5;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.page-header {
	background-color: #fff;
}

.logo {
	color: #2196f3;
}
.color-black {
	color: #000;
}
.site-nav a:hover,
.auth-nav a:hover,
.site-nav a:focus,
.auth-nav a:focus {
	color: #2196f3;
}
.site-nav a {
	color: #212121;
}
.auth-nav a {
	color: #757575;
}
.banner {
	width: 1600px;
	height: 600px;
	color: #fff;
	background-color: #2f303a;
}
.main-button {
	width: 200px;
	height: 50px;
	color: #fff;
	background-color: #2196f3;
}
.hidden {
	opacity: 0;
}
.pec-list {
	color: #212121;
}
.pec-text {
	color: #757575;
}
