body {
	font-family: "Roboto", sans-serif;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

.page-header {
	background-color: #fff;
}

.logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #2196f3;
}
.color-black {
	color: #000;
}
.site-nav a:hover,
.auth-nav a:hover,
.site-nav a:focus,
.auth-nav a:focus {
	color: #2196f3;
}
.site-nav a {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #212121;
}
.auth-nav a {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #757575;
}
.banner {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	color: #fff;
	background-color: #2f303a;
}
.main-button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #fff;
	background-color: #2196f3;
}
.hidden {
	opacity: 0;
}
.pec-list {
	background-color: #fff;
}
.pec-list-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: #212121;
}
.pec-list-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: #757575;
}
.tittle {
	color: #212121;
	background-color: #fff;
}
.team {
	background-color: #f5f4fa;
}
.team-title {
	color: #212121;
}
.team-card {
	background-color: #fff;
}
.card-title {
	color: #212121;
}
.card-text {
	color: #757575;
}
footer {
	background-color: #2f303a;
}
.color-white {
	color: #fff;
}
address {
	font-style: normal;
}
.adr {
	color: #fff;
}
.mail,
.tel {
	color: rgba(255, 255, 255, 0.6);
}
address a:hover,
address a:focus {
	color: #2196f3;
}
.portflio {
	background-color: #fff;
}
.filters button {
	color: #212121;
	background-color: #f5f4fa;
}
.filters button:hover,
.filters button:focus {
	color: #fff;
	background-color: #2196f3;
}

button {
	border: none;
}
.cards {
	color: #212121;
}
.cards-text {
	color: #757575;
}
